<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Desc</th>
      <th>Todo flag</th>
      <th>List id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
	      <!-- <%  p params[:id] || 'nil'%> -->
	      <!-- <%  p params[:format] %> -->
	      <!--<%=  p params[:format] ||'nil'%> -->
        <td><%= item.desc %></td>
        <td><%= item.todo_flag %></td>
	<!-- <td><%= item.list %></tda> -->
    <!-- <td><%= p params[:list_id] %></td> -->
        <td><%= p params[:id] %></td>
        <td><%= p item.id %></td>
	<td><%= link_to '完了', done_path(item) %></td> 
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Todoの追加', new_item_path(@list) %> 
<!-- <%= link_to 'listに戻る', lists_path(list_id: @list_id) %> -->
<%= link_to 'listに戻る', lists_path %> 
