<p id="notice"><%= notice %></p>

<p>
  <strong>Desc:</strong>
  <%= @item.desc %>
</p>

<p>
  <strong>Todo flag:</strong>
  <%= @item.todo_flag %>
</p>

<p>
  <strong>List:</strong>
  <%= @item.list %>
  <%= @item.list.id %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<!-- <%= link_to 'Back', items_path %> -->
<!-- <%= link_to 'Back', items_path(@list) %> -->
<!-- <%= link_to 'Back', items_path(list_id: @item.list.id) %> -->
<%= link_to 'Back', items_path(list_id: @item.list_id) %>
